extends layout

block content
	div#search
		form(method="get", action="/search")
			input(type="text", name="term", class="text", value="#{term}")
			input(type="submit", value="search")
		ul.episodes
			each episode in episodes
				li
					span.title #{episode.series} #{episode.episode} #{episode.date}
					a(href="/episode/#{episode._id}", alt="#{episode.series} #{episode.episode}") link