extends layout

block content
	ul.episodes
		each episode in episodes
			li
				span.title #{episode.series} #{episode.episode}
				a(href="/episode/#{episode._id}", alt="#{episode.series} #{episode.episode}") link